<div class="container">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white mb-3 mt-3">Recetario</h2>
    <button type="button" class="btn btn-info mb-3 mt-3" (click)="backup()">Backup</button>

    <!-- Portfolio Grid Items -->
    <div class="row">

        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-6">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                <div class="portfolio-item-caption d-inline-flex align-items-center justify-content-center h-100 w-100  bg-light rounded">
                    <div class="portfolio-item-caption-content text-center w-100">
                        <h3 class="mb-3 mt-3">Recetas de cocina</h3>
                        <app-recetas></app-recetas>
                    </div>
                </div>

            </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-6">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                <div class="portfolio-item-caption d-inline-flex align-items-center justify-content-center h-100 w-100 bg-light rounded">
                    <div class="portfolio-item-caption-content text-center w-100">
                        <h3 class="mb-3 mt-3">Añadir nueva receta</h3>
                        <app-receta></app-receta>

                    </div>
                </div>

            </div>
        </div>

    </div>