.form-control::placeholder {
    font-family: FontAwesome;
}

.i {
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.receta {
    display: flex;
}

.search-receta {
    width: 45%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 5%;
    display: flex;
}

.receta>div:nth-child(2) {
    width: 45%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
}

div[id^="pills-home"],
.ingdts {
    width: 100%;
    padding: 0;
    text-align: justify;
    margin-bottom: 5%;
}

h6 {
    text-align: left;
}

div[id^="pills-home"] p.collapse[aria-expanded="true"] {
    display: block;
    height: 40px;
    overflow: hidden;
}

div[id^="pills-home"] p.collapsing[aria-expanded="false"] {
    height: 100%;
}

div[id^="pills-home"] a.collapsed:after {
    content: '+ Ver más';
}

div[id^="pills-home"] a:not(.collapsed):after {
    content: '- Ver menos';
}

.upde {
    margin-top: 5%;
    border: none;
    padding: 0;
}

.upde button,
.upde input {
    color: white;
    width: 100px;
    height: 50px;
    margin-right: 5%;
}

textarea[id^="preparacion"],
textarea[id^="ingredientesU"] {
    width: 100%;
    text-align: justify;
    min-height: 100px;
    padding: 10px 10px 10px 16px;
    word-wrap: break-word;
    line-height: 20px;
}